
<div class="row container">
  <div *ngFor="let post of posts | async" class="col-4 p-card card-content">

      <div>
        <p>CLOUD AND SERVER</p>
        <hr class="dotted">
        <img class="p-card__image image-margin" alt="" src={{post.img}}>
        <h5 class="p-heading--3 font-weight--normal">
          <a href={{post.postLink}} target="_blank">{{post.title}}</a>
        </h5>
      </div>

      <div>
        <p class="p-heading--6">
          By <a href={{post.authorLink}} target="_blank">{{post.author}}</a> on {{post.date | date: 'dd LLLL yyyy'}}
        </p>
        <hr class="dotted">
        <small class="no-margin-bottom">Acticle</small>
      </div>

  </div>
</div>

